.DS_Store
*.pkl
._*
.~lock*
storage/*
.idea/*
diagrams/
scripts/parsing/
datasets/*
!datasets/*.tar.gz
!datasets/.gitkeep
!datasets/*/
datasets/*/*
**/data/*
**/__pycache__/*
**/storage/*
**/outputs/*
!scripts/plotting/**/outputs/
!scripts/plotting/**/outputs/**/
!scripts/plotting/**/outputs/**/*.pdf
!scripts/plotting/**/outputs/**/*.png
scripts/plotting/**/outputs/**/*.csv
scripts/plotting/**/outputs/**/*.json
scripts/plotting/**/outputs/**/*.log
scripts/plotting/**/outputs/problemetic/
scripts/plotting/**/outputs/problemetic/**
**/accounting/*
.venv/*
**/logs/*
**/backup/*
**/csv/*
shared_scripts/*/data/*
